/* Side Bar */

.side-bar {
    background-color: #ED1B24;
    height: 100vh;
}

.side-bar .logo {
    width: 300px;
    margin: 20px;
}

.side-bar ul {
    list-style: none;
    color: white;
    padding: 0;
    margin: 20px 20px 20px 20px;
    font-size: 20px;
}

.side-bar a {
    text-decoration: none;
    color: white;
}

.side-bar .fa-arrow-left {
    align-items: center;
}

.side-bar .fa-arrow-left,
.side-bar .fa-circle-info,
.side-bar .fa-arrow-right-from-bracket,
.side-bar .fa-key,
.side-bar .fa-tag,
.side-bar .fa-link,
.side-bar .fa-bookmark,
.side-bar .fa-comment,
.side-bar .fa-list,
.side-bar .fa-question,
.top .col-md .fa-plus {
    margin-right: 8px;
    color: white;
}

.side-bar .atas li,
.side-bar .tengah li,
.side-bar .bawah li {
    margin-bottom: 12px;
}

.side-bar .atas,
.side-bar .tengah,
.side-bar .bawah {
    margin-bottom: 64px;
}

.side-bar .tengah .active,
.side-bar .atas .active,
.side-bar .bawah .active {
    background-color: #FF6066;
}

/* Tabel */

.admin .table-top,
.table-admin {
    margin: 20px;
}

.top .btn-secondary {
    background-color: #808185;
}

table {
    table-layout: fixed;
}

table img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
    height: auto;
}

td.aksi {
    text-align: right;
}

td {
    word-wrap: break-word;
    max-width: 50vh;
    text-align: left;
    vertical-align: top;
}

td .button {
    word-wrap: break-word;
}

.table-admin td a {
    text-decoration: none;
    font-weight: bold;
}

.table-admin .edit {
    margin-right: 12px;
    color: #1D4972;
}

.table-admin .delete {
    color: #ED1B24;
}

.table-admin td ol a {
    color: black;
}

/* Form */

.admin .row {
    margin: 20px;
}

.admin .top,
.admin .kembali {
    margin: 20px 20px 50px 20px;
}

.admin .kembali a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.admin .kembali .fa-arrow-left {
    margin-right: 8px;
}

.form .col-md-6 {
    padding: 0px 32px 0px 0px;
}