.container {
    margin-top: 48px;
}

.card .card-header {
    background-color: #808185;
    color: white;
}

.card-body .email-field,
.card-body .password-field,
.card-body .back,
.card-body .pertanyaan-field {
    margin-bottom: 16px;
}

.card-body .fa-arrow-left {
    margin-right: 8px;
}

.card-body a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.card-body .bawah {
    align-items: center;
}

.card-body .bawah button {
    background-color: #ED1B24;
}